{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static "assets/images/wolf-emblem.svg" %}" type="image/x-icon">
  <meta name="description" content="">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="{% static "assets/et-line-font-plugin/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/bootstrap-material-design-font/css/material.css" %}">
  <link rel="stylesheet" href="{% static "assets/web/assets/icons/icons.css" %}">
  <link rel="stylesheet" href="{% static "assets/tether/tether.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/socicon/css/socicon.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/animate.css/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/dropdown/css/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/theme/css/style.css" %}">
  <link rel="stylesheet" href="{% static "assets/extra/css/mbr-additional.css" %}" type="text/css">
  
  
  
</head>
<body>
<section id="ext_menu-a">

    <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <div class="navbar-brand">
                        <a href="/" target="_blank" class="navbar-logo"><img src="{% static "assets/images/wolf-emblem.svg" %}" alt="Wherewolf Technologies"></a>
                        <a class="navbar-caption" href="/">WHEREWOLF</a>
                    </div>

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar"><li class="nav-item"><a class="nav-link link" href="/">OVERVIEW</a></li><li class="nav-item nav-btn"><a class="nav-link btn btn-warning" href="/">BUY</a></li></ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>

<section class="engine"><a rel="external" href="/">Wherewolf</a></section><section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-1" style="background-image: url({% static "assets/images/phil-hauser-137498-2000x1501-84.jpg" %}); padding-top: 160px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2"></h3>
                <div class="lead"><p><strong>FIND THE BEST LOCATION FOR YOUR BUSINESS</strong></p></div>
                <div> <a class="btn btn-warning" href="/">MAKE MONEY</a> <a class="btn btn-secondary" href="/">LEARN MORE</a></div>
            </div>
        </div>
    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features4-9" style="background-color: rgb(255, 255, 255);">

    

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a href="/" class="etl-icon icon-map-pin mbr-iconfont mbr-iconfont-features4" style="color: black;"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Proprietary technology</h4>
                        <h5 class="card-subtitle">Boy, have we patented it!</h5>
                        <p class="card-text">Using the latest data analytics technologies, WhereWolf will provide you with all the information your business needs to select the optimal location for your stores.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img iconbox"><a href="/" class="mbri-home mbr-iconfont mbr-iconfont-features4" style="color: black;"></a></div>
                    <div class="card-block">
                        <h4 class="card-title">Customer service</h4>
                        <h5 class="card-subtitle">We live and die by our customer needs</h5>
                        <p class="card-text">We will help you set up and settle into new stores, as well as run targeted promotion campaigns through our platform.</p>
                        
                    </div>
                </div>
          </div>
        </div>
        
        
        
        
    </div>
</section>

<section class="mbr-section mbr-section__container" id="map2-3" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJwT9ZjwPEdkgR7GUUiMRNYfw" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-8" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
    
    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Wherewolf Technologies.</p>
    </div>
</footer>


  <script src="{% static "assets/web/assets/jquery/jquery.min.js" %}"></script>
  <script src="{% static "assets/tether/tether.min.js" %}"></script>
  <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/smooth-scroll/SmoothScroll.js" %}"></script>
  <script src="{% static "assets/viewportChecker/jquery.viewportchecker.js" %}"></script>
  <script src="{% static "assets/dropdown/js/script.min.js" %}"></script>
  <script src="{% static "assets/touchSwipe/jquery.touchSwipe.min.js" %}"></script>
  <script src="{% static "assets/jarallax/jarallax.js" %}"></script>
  <script src="{% static "assets/theme/js/script.js" %}"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>