{% extends 'maps/header.html' %}
{% block content %}

<body>

    <div id="wrapper">

        <!-- Navigation -->

        <div id="page-wrapper" style="min-height: 354px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="file:///Users/ilyalapan/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html#">Action</a>
                                        </li>
                                        <li><a href="file:///Users/ilyalapan/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html#">Another action</a>
                                        </li>
                                        <li><a href="file:///Users/ilyalapan/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="file:///Users/ilyalapan/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="map"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <!-- /.panel -->

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Options
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="file:///Users/ilyalapan/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html#" class="list-group-item">
                                    <h4>
                                    <input type="checkbox" value="foursquare" name="API">
                                    Foursquare
                                    </h4>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <button type="button" id="search" class="btn btn-primary">Search</button>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <!-- /.panel -->

                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/raphael.min.js"></script>
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/morris.min.js"></script>
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./SB Admin 2 - Bootstrap Admin Theme_files/sb-admin-2.js"></script>




</body>









<div class="jumbotron text-center">
	<h3>Mapping economic activity</h3>
</div>

<div class="container">

<div class="jumbotron" >
	<div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <div class="row">
                        <h3>
                        <input type="checkbox" value="whatever" name="API">
                        Whatever
                        </h3>
                    </div>
                    <div class="row">
                        <h3>
                        <input type="checkbox" value="foursquare" name="API">
                        Foursquare
                        </h3>
                    </div>
                    <div class="row">
                        <h3>
                        <input type="checkbox" value="google" name="API">
                        Google
                        </h3>
                    </div>
                    <div class="row">
                        <h3>
                        <input type="checkbox" value="yelp" name="API">
                        Yelp
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
                <select id="businessType" class="form-control">
                    <option value="restaurant">Restaurant</option>
                    <option value="shop">Shop</option>
                    <option value="three">three</option>
                    <option value="four">four</option>
                    <option value="five">five</option>
                </select>
            </div>
        </div>
        <div class="row">
        </div>
	</div>
</div>

<!-- Mapbox API -->
<script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2VyemFucyIsImEiOiJjaXl1ZHVobTEwMDBvMnFycjlzcm9rcXB4In0.upeL8wQ_YbuTjQ8oN1SOFA';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
            center: [{{lng}}, {{lat}}], // starting position
            zoom: 12, // starting zoom
        });
        map.addControl(new MapboxGeocoder({
            accessToken: mapboxgl.accessToken
        }));
</script>

<script>
$(document).ready( function() {
    $('#search').click(function(){

        var APIarray = [];

        $.each($("input[name='API']:checked"), function(){
            APIarray.push($(this).val());
        });

        searchRequest = {type: $('#businessType').val(), API: APIarray, coord: map.getCenter().toArray()};
        $.ajax({
            method: "GET",
            url: "ajax/",
            success: function(data) {
                alert("success");
                updateMap(data);
            }
        });

    });
});

function updateMap(data) {
    console.log(data);
    var layer = {
        "id": "points",
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": data
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    };
    console.log(layer);
    map.addLayer(layer);
}
</script>

{% endblock %}