{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'maps/style.css' %}" />

<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />

</head>


<body>

<h1>{{ test_variable }} (coordinates, type, etc.)</h1>

<div id='map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic2VyemFucyIsImEiOiJjaXl1ZHVobTEwMDBvMnFycjlzcm9rcXB4In0.upeL8wQ_YbuTjQ8oN1SOFA';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: [-0.9,51.7520], // starting position
    zoom: 9 // starting zoom
});
</script>

</body>
